.App {
  text-align: center;
  background-color: #fcb571;
}

#SignUp .form, #SignIn .form, #Profile 
{
  background-color: white;
  align-items: center;
  box-shadow: 2px 2px 2px;
  margin-top: 172px;
  margin-bottom: 172px;
}