.form-control {
  border: 0px;
  border-bottom: 1px solid black;
  width: 90%;
}

.form-control:focus {
  border-color: white;
}

.form-container {
  box-shadow: 1px 1px 10px black;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 95%;
}

.bouton {
  margin-right: 10%;
}